%ul.sidebar-nav
  %li.sidebar-brand
    = image_tag 'logo-insevent.png', height: '20px', class: %w(logo)
    %a{:href => "#"}
      INSEvent
  %li
    = link_to 'Home', root_url
  %li
    = link_to 'Post an event', '/event'